.navmenu {
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.navmenu_brand {
  padding: 0;
  margin: 0;
}

.navmenu_brand > img {
  height: 50px;
}

.navmenu_profile {
  height: 50px;
}
